@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');
/*
  primary color: #E81C1C
*/
:root{
  --primary: #E81C1C;
  --background: #fff;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Almarai', sans-serif;
  direction: rtl;
  font-size: 18px;
  line-height: 1.5;
  background: #fff;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
section{
  min-height: 100vh;
  max-width: 100%;
}
p{
  margin: 0;
}
ul{
  list-style: none;
}
.app-container{
  min-height: 50vh;
}
.page-container{
  margin-bottom: 60px;
}
.loader{
  position: fixed;
  z-index: 999999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  display: grid;
  place-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.loader.active{
  visibility: visible;
  opacity: 1;
}
.loader span{
  font-size: 30px;
  font-weight: 700;
}
