.svgContainer svg{
    width: 550px;
    height: 500px;
}
.svgContent svg{
    width: 500px;
    height: 500px;
}
.svgContent{
    max-width: 100%;
    text-align: center;
}
.sectionTitle{
    text-align: center;
    margin-bottom: 35px;
}
.explainSection{
    background: var(--primary);
    color: #fff;
}
.howWork{
    padding: 40px 0;
}
.cardHowWork{
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}
.cardHowWork img{
    max-width: 100%;
    margin-right: -110px;
}
.contactSection{
    text-align: center;
    padding: 30px;
    background: var(--primary);
    color: #fff;
}
.contactSection h3{
    margin-bottom: 10px;
}
.contactSection p{
    margin-bottom: 15px;
}

@media (max-width: 900px){
    .svgContainer, .svgContent{
        width: 100%;
        text-align: center;
    }
    .explainSection{
        margin-top: 80px;
    }
    .svgContent svg, .svgContainer svg{
        width: 100%;
        height: auto;
    }
    .cardHowWork img{
        margin-right: -60px;
    }
    .cardHowWork h3{
        font-size: 18px;
    }
}
@media (max-width: 517px){
    .svgContainer{
        width: 100%;
        text-align: center;
    }
    .svgContainer svg{
        width: 100%;
        height: auto;
    }
    .cardHowWork img{
        margin-right: -40px;
    }
    .cardHowWork h3{
        font-size: 14px;
    }
}